*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
.row{
    background:white ;
    border-radius: 5px;
}
img{
    border-top-right-radius: 30;
    border-bottom-right-radius: 30px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}